@import "tailwindcss";
@import "./dynamic-color.css";

@custom-variant dark (&:where(.dark, .dark *));

/*noinspection CssUnresolvedCustomProperty*/
@theme inline {
    --background: #ffffff;
    --foreground: #171717;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-dynamic: var(--dynamic-color);
    --font-sans: var(--font-roboto-sans);
    --font-mono: var(--font-roboto-mono);

    --spacing-8xl: 96rem;
}

@layer base {
    .dark {
        --background: #0a0a0a;
        --foreground: #ededed;
    }

    body {
        background: var(--background);
        color: var(--foreground);
        font-family: Roboto, sans-serif;

        background-color: var(--background);
    }

    main {
        min-height: 100%;
        width: 100%;
    }

    section {
        @apply my-6;
        scroll-margin-top: 7em;
    }

    p {
        @apply leading-7 wrap-break-word;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font: inherit;
        color: inherit;
    }

    /*noinspection CssUnresolvedCustomProperty*/
    .text-2xs {
        font-size: 0.625rem;
        line-height: var(--tw-leading, calc(1 / 0.625) /* calc(1 / 0.75) ≈ 1.3333 */);
    }
}