@import "./typography.css";
@import "./particle.css";

@layer base {
    main {
        min-height: 100%;
        width: 100%;
    }

    section {
        @apply my-6;
        scroll-margin-top: 7em;
    }
}