@layer base {
    h1 {
        @apply font-mono text-3xl font-semibold;
    }

    h2 {
        @apply relative font-mono text-3xl font-extrabold text-center p-4 uppercase;

        &::after {
            content: '';
            @apply absolute bottom-0 left-1/2 -translate-x-1 w-12 border-b-4 border-dynamic;
        }
    }

    h3 {
        @apply font-mono border-b text-xl font-extrabold border-dynamic/30 py-2;
    }

    p {
        @apply leading-7 wrap-break-word;
    }

    /*noinspection CssUnresolvedCustomProperty*/
    .text-2xs {
        font-size: 0.625rem;
        line-height: var(--tw-leading, calc(1 / 0.625) /* calc(1 / 0.75) ≈ 1.3333 */);
    }
}
